Repository Terrapin-Rocket-Team/SRAD-Avionics, pull requests merged in 2024-03, with the labels that each got.

#74 Better handling of sensors
  Spaceport/23-24/Code/Teensy-Based Avionics/cppcheck-suppressions.txt
  Spaceport/23-24/Code/Teensy-Based Avionics/include/GPS.h
  Spaceport/23-24/Code/Teensy-Based Avionics/include/RTC.h
  Spaceport/23-24/Code/Teensy-Based Avionics/include/Sensor.h
  Spaceport/23-24/Code/Teensy-Based Avionics/lib/RecordData/RecordData.cpp
  Spaceport/23-24/Code/Teensy-Based Avionics/lib/RecordData/psram.cpp
  Spaceport/23-24/Code/Teensy-Based Avionics/platformio.ini
  Spaceport/23-24/Code/Teensy-Based Avionics/src/BMP390.cpp
  Spaceport/23-24/Code/Teensy-Based Avionics/src/BMP390.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/BNO055.cpp
  Spaceport/23-24/Code/Teensy-Based Avionics/src/BNO055.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/DS3231.cpp
  Spaceport/23-24/Code/Teensy-Based Avionics/src/DS3231.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/MAX_M10S.cpp
  Spaceport/23-24/Code/Teensy-Based Avionics/src/MAX_M10S.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/State.cpp
  Spaceport/23-24/Code/Teensy-Based Avionics/src/State.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/StateTest/FakeBaro.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/StateTest/FakeGPS.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/StateTest/FakeIMU.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/main.cpp
Labels: enhancement, code

#90 Fixed compile errors in StateTest
  Spaceport/23-24/Code/Teensy-Based Avionics/include/GPS.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/MAX_M10S.cpp
  Spaceport/23-24/Code/Teensy-Based Avionics/src/MAX_M10S.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/StateTest/FakeBaro.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/StateTest/FakeGPS.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/StateTest/FakeIMU.h
  Spaceport/23-24/Code/Teensy-Based Avionics/src/StateTest/StateTest.cpp
Labels: bug, testing

#68 56 design ground radio receiver board
  Spaceport/23-24/PCBs/Ground Reciever/Ground Reciever.kicad_pcb
  Spaceport/23-24/PCBs/Ground Reciever/Ground Reciever.kicad_pro
  Spaceport/23-24/PCBs/Ground Reciever/Ground Reciever.kicad_sch
  Spaceport/23-24/PCBs/Ground Reciever/fp-lib-table
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0.zip
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-B_Cu.gbr
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-B_Mask.gbr
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-B_Paste.gbr
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-B_Silkscreen.gbr
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-Edge_Cuts.gbr
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-F_Cu.gbr
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-F_Mask.gbr
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-F_Paste.gbr
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-F_Silkscreen.gbr
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-NPTH.drl
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-PTH.drl
  Spaceport/23-24/PCBs/Ground Reciever/gerbers/Ground Receiver v1.0/Ground Reciever-job.gbrjob
  Spaceport/23-24/PCBs/Ground Reciever/sym-lib-table
Labels: PCB
